<div class="container">
  <div class="jumbotron">
    <h1 class="display-3 text-center">
      RxJS Training
    </h1>
    <p class="lead text-center mt-4">
      A collection of practical code snippets and learning resources.
    </p>
    <hr class="my-4">
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <ul>
          <li>
            <strong><a target="_blank" title="RxJs"
              href="//github.com/Reactive-Extensions/RxJS">RxJS</a></strong> is the focus here. For React, check out: <a target="_blank" title="redux-observable" href="//github.com/redux-observable/redux-observable">redux-observable</a>
          </li>
          <li>
            To copy and paste, add the following:
            <ul>
              <li>
                Reference to <a target="_blank" title="RxJS CDN" href="//cdnjs.com/libraries/rxjs/">RxJS (CDNJS)</a>
              </li>
              <li>
                Add or override constants and utility files.
              </li>
            </ul>
          </li>
          <li>
            <a target="_blank" title="REST API" href="//dev-rest-api.herokuapp.com">REST API</a> hosted on Heroku. <a target="_blank" title="dev-api-rest" href="//dev-rest-api.herokuapp.com"></a> (<a target="_blank" title="More Info" href="//www.johnlivingston.io/blog/dev-rest-api">More Info</a>)
          </li>
          <li>
            Other than RxJS, the only client-side libraries are for style:
            <ul>
              <li>
                <a target="_blank" title="Bootstrap" href="//v4-alpha.getbootstrap.com">Bootstrap</a>
              </li>
              <li>
                <a target="_blank" title="Highlight.js" href="//highlightjs.org">highlight.js</a> for code
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
      <a href="/samples" class="btn btn-outline-primary btn-lg">Samples</a>
      <a target="_blank" title="Source Code" href="//github.com/jmlivingston/rxjs-samples" class="btn btn-outline-primary btn-lg">Source Code</a>
      <br />
      <br />
      <a target="_blank" title="johnlivingston.io" href="//johnlivingston.io" class="btn btn-link btn-lg">johnlivingston.io</a>
    </div>
  </div>
</div>